---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/providers/ands
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7456656ea29849c031a17c03886452d7"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ands","type":"providers","attributes":{"name":"Australian
        National Data Service","symbol":"ANDS","year":2010,"contact-name":"Adrian
        Burton","contact-email":"adrian.burton@ands.org.au","logo-url":"https://assets.datacite.org/images/members/ands.png","is-active":true,"created":"2010-01-01T00:00:00.000Z","updated":"2017-09-17T10:24:07.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}},"meta":{"clients":[{"id":2011,"title":2011,"count":13},{"id":2012,"title":2012,"count":22},{"id":2013,"title":2013,"count":34},{"id":2014,"title":2014,"count":47},{"id":2015,"title":2015,"count":80},{"id":2016,"title":2016,"count":98},{"id":2017,"title":2017,"count":100}],"dois":[{"id":2011,"title":2011,"count":6},{"id":2012,"title":2012,"count":14}]}}'
  recorded_at: Tue, 31 Oct 2017 07:49:27 GMT
recorded_with: VCR 3.0.3
