---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/providers?page%5Bsize%5D=100&query=data&sort=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"710b29783f1f89e25c947098ffc06fda"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ands","type":"providers","attributes":{"name":"Australian
        National Data Service","symbol":"ANDS","year":2010,"contact-name":"Adrian
        Burton","contact-email":"adrian.burton@ands.org.au","logo-url":"https://assets.datacite.org/images/members/ands.png","is-active":true,"created":"2010-01-01T00:00:00.000Z","updated":"2017-09-17T10:24:07.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}},{"id":"datacite","type":"providers","attributes":{"name":"DataCite","symbol":"DATACITE","year":2011,"contact-name":"Britta
        Dreyer","contact-email":"britta.dreyer@datacite.org","logo-url":"https://assets.datacite.org/images/members/datacite.png","is-active":true,"created":"2011-12-07T13:41:07.000Z","updated":"2017-09-17T10:24:07.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}},{"id":"snd","type":"providers","attributes":{"name":"Swedish
        National Data Service","symbol":"SND","year":2011,"contact-name":"Birger Jerlehag","contact-email":"birger.jerlehag@snd.gu.se","logo-url":"https://assets.datacite.org/images/members/snd.png","is-active":true,"created":"2011-09-14T12:36:00.000Z","updated":"2017-09-17T10:24:07.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}],"links":{},"meta":{"total":3,"total-pages":1,"page":1,"regions":[],"years":[{"id":"2011","title":"2011","count":2},{"id":"2010","title":"2010","count":1}]}}'
  recorded_at: Tue, 31 Oct 2017 07:47:27 GMT
recorded_with: VCR 3.0.3
