---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.6084
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"58c74e33ab541adc084b3eaeb81a81fd"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '100000'
      X-Ratelimit-Remaining-Hour:
      - '99980'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.6084","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:26Z"}}}'
  recorded_at: Mon, 03 Jul 2017 21:36:39 GMT
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,xml,media,minted,updated&q=doi:10.6084/m9.figshare.1537331.v1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Mon, 03 Jul 2017 21:36:41 GMT
recorded_with: VCR 3.0.3
