---
http_interactions:
- request:
    method: post
    uri: https://api.orcid.org/v1.2/0000-0003-1419-2405/orcid-bio/external-identifiers
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <orcid-message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.orcid.org/ns/orcid" xsi:schemaLocation="http://www.orcid.org/ns/orcid https://raw.github.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/orcid-message-1.2.xsd">
          <message-version>1.2</message-version>
          <orcid-profile>
            <orcid-bio>
              <external-identifiers>
                <external-identifier>
                  <external-id-common-name>GitHub</external-id-common-name>
                  <external-id-reference>mfenner</external-id-reference>
                  <external-id-url>https://github.com/mfenner</external-id-url>
                </external-identifier>
              </external-identifiers>
            </orcid-bio>
          </orcid-profile>
        </orcid-message>
    headers:
      Authorization:
      - Bearer <ORCID_AUTHENTICATION_TOKEN>
      Content-Type:
      - application/orcid+xml
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/orcid+xml; qs=3;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <orcid-message xmlns="http://www.orcid.org/ns/orcid">
            <message-version>1.2</message-version>
            <error-desc>Security problem : Insufficient or wrong scope [/orcid-profile/read-limited, /orcid-works/create]</error-desc>
        </orcid-message>
  recorded_at: Sun, 04 Sep 2016 13:34:50 GMT
recorded_with: VCR 2.9.3
