---
http_interactions:
- request:
    method: post
    uri: https://api.orcid.org/v1.2/0000-0003-1419-2405/orcid-bio/external-identifiers
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ORCID_AUTHENTICATION_TOKEN>
      Content-Type:
      - application/orcid+xml
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/orcid+xml; qs=3;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <orcid-message xmlns="http://www.orcid.org/ns/orcid">
            <message-version>1.2</message-version>
            <error-desc>javax.xml.bind.UnmarshalException
         - with linked exception:
        [org.xml.sax.SAXParseException; Premature end of file.]</error-desc>
        </orcid-message>
  recorded_at: Fri, 22 Apr 2016 15:53:43 GMT
recorded_with: VCR 2.9.3
