---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.5281
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0411b3916b13b0c38e2c133d6e9905e2"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '100000'
      X-Ratelimit-Remaining-Hour:
      - '99990'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5281","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:13Z"}}}'
  recorded_at: Mon, 03 Jul 2017 21:35:16 GMT
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,xml,media,minted,updated&q=doi:10.5281/zenodo.21429&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Mon, 03 Jul 2017 21:35:18 GMT
recorded_with: VCR 3.0.3
