---
http_interactions:
- request:
    method: delete
    uri: https://api.orcid.org/v1.2/0000-0003-1419-2405/orcid-works/10.5281/ZENODO.21429
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ORCID_AUTHENTICATION_TOKEN>
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":null,"orcid-search-results":null,"error-desc":{"value":"Please
        specify a version number (1.2 or higher) : null for uri: http://api.orcid.org/orcid-api-web/v1.2/0000-0003-1419-2405/orcid-works/10.5281/ZENODO.21429"}}'
  recorded_at: Sun, 04 Sep 2016 14:36:01 GMT
recorded_with: VCR 2.9.3
