---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v2.0/search/?q=fenner&rows=25&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ORCID_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-8568-5429","path":"0000-0002-8568-5429","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-8282-6361","path":"0000-0002-8282-6361","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0001-6528-2027","path":"0000-0001-6528-2027","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-4246-0131","path":"0000-0002-4246-0131","host":"sandbox.orcid.org"}}],"num-found":4}'
  recorded_at: Sat, 31 Aug 2019 20:30:27 GMT
recorded_with: VCR 3.0.3
