---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v1.2/search/orcid-bio/?q=fenner&rows=25&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ORCID_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":null,"orcid-search-results":{"orcid-search-result":[{"relevancy-score":{"value":0.97160846},"orcid-profile":{"orcid":null,"orcid-id":null,"orcid-identifier":{"value":null,"uri":"http://sandbox.orcid.org/0000-0002-8568-5429","path":"0000-0002-8568-5429","host":"sandbox.orcid.org"},"orcid-deprecated":null,"orcid-preferences":null,"orcid-history":null,"orcid-bio":{"personal-details":{"given-names":{"value":"Martin","visibility":"PUBLIC"},"family-name":{"value":"Fenner","visibility":"PUBLIC"},"credit-name":null,"other-names":{"other-name":[{"value":"Martin
        H Fenner"}],"visibility":"PUBLIC"}},"biography":null,"researcher-urls":null,"contact-details":null,"keywords":null,"external-identifiers":null,"delegation":null,"scope":null},"orcid-activities":null,"orcid-internal":null,"type":null,"group-type":null,"client-type":null}},{"relevancy-score":{"value":0.824437},"orcid-profile":{"orcid":null,"orcid-id":null,"orcid-identifier":{"value":null,"uri":"http://sandbox.orcid.org/0000-0002-8282-6361","path":"0000-0002-8282-6361","host":"sandbox.orcid.org"},"orcid-deprecated":null,"orcid-preferences":null,"orcid-history":null,"orcid-bio":{"personal-details":{"given-names":{"value":"Martin","visibility":"PUBLIC"},"family-name":{"value":"Fenner","visibility":"PUBLIC"},"credit-name":null,"other-names":null},"biography":nu[...]
