---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v1.2/search/orcid-bio/?q=0000-0001-6528-2027&rows=25&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ORCID_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":null,"orcid-search-results":{"orcid-search-result":[{"relevancy-score":{"value":1.1692803},"orcid-profile":{"orcid":null,"orcid-id":null,"orcid-identifier":{"value":null,"uri":"http://sandbox.orcid.org/0000-0001-6528-2027","path":"0000-0001-6528-2027","host":"sandbox.orcid.org"},"orcid-deprecated":null,"orcid-preferences":null,"orcid-history":null,"orcid-bio":{"personal-details":{"given-names":{"value":"Martin","visibility":"PUBLIC"},"family-name":{"value":"Fenner","visibility":"PUBLIC"},"credit-name":{"value":"Martin
        Fenner","visibility":"PUBLIC"},"other-names":{"other-name":[{"value":"Martin
        Hellmut Fenner"}],"visibility":"PUBLIC"}},"biography":{"value":"Martin Fenner
        is the DataCite Technical Director and manages the technical architecture
        for Datacite as well as DataCite’s technical contributions for the EU-funded
        THOR project. From 2012 to 2015 he was the technical lead for the PLOS Article-Level
        Metrics project. Martin has a medical degree from the Free University of Berlin
        and is a Board-certified medical oncologist.","visibility":"PUBLIC"},"researcher-urls":{"researcher-url":[{"url-name":{"value":"Blog"},"url":{"value":"http://blog.martinfenner.org"}}],"visibility":"PUBLIC"},"contact-details":{"email":[],"address":{"country":{"value":"DE","visibility":"PUBLIC"}}},"keywords":null,"external-identifiers":{"external-identifier":[{"orcid":null,"external-id-orcid":null,"external-id-common-name":{"value":"GitHub"},"external-id-reference":{"value":"mfenner"},"external-id-url":{"value":"https://github.com/mfenner"},"external-id-source":null,"source":{"source-orcid":null,"source-client-id":{"value":null,"uri":"http://sandbox.orcid.org/client/<ORCID_CLIENT_ID>","path":"<ORCID_CLIENT_ID>","host":"sandbox.orcid.org"},"source-name":{"value":"DataCite/ORCID
        Claim Tool"},"source-date":{"value":1499800792189}}}],"visibility":"PUBLIC"},"delegation":null,"scope":null},"orcid-activities":null,"orcid-internal":null,"type":null,"group-type":null,"client-type":null}},{"relevancy-score":{"value":1.0773219},"orcid-profile":{"orcid":null,"orcid-id":null,"orcid-identifier":{"value":null,"uri":"http://sandbox.orcid.org/0000-0001-6528-0523","path":"0000-0001-6528-0523","host":"sandbox.orcid.org"},"orcid-deprecated":null,"orcid-preferences":null,"orcid-history":null,"orcid-bio":{"personal-details":{"given-names":{"value":"Sean","visibility":"PUBLIC"},"family-name":{"value":"Quincy","visibility":"PUBLIC"},"credit-name":null,"other-names":null},"biography":nul[...]
