---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v2.0/search/?q=0000-0001-6528-2027&rows=25&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ORCID_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":[{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0001-6528-2027","path":"0000-0001-6528-2027","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0001-6528-0523","path":"0000-0001-6528-0523","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-2027-686X","path":"0000-0002-2027-686X","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-6528-1056","path":"0000-0002-6528-1056","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0003-4343-6528","path":"[...]
