<div class="wrapper">
  <div class="register-background" style="background-image: url('<%= ENV['CDN_URL'] %>/images/profiles/landing.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
            <div class="register-card">
              <h3 class="title">Sign In</h3>
              <%= link_to '<span class="fa fa-google"></span> Sign in with Google'.html_safe, user_google_oauth2_omniauth_authorize_path, :id => "sign-in-google", class: 'btn btn-block btn-social btn-google btn-fill' %>
              <%= link_to "<span></span> Sign in with ORCID".html_safe, user_orcid_omniauth_authorize_path, :id => "sign-in-orcid", class: 'btn btn-block btn-social btn-orcid btn-fill' %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
