<div class="wrapper">
  <div class="register-background" style="background-image: url('<%= ENV['CDN_URL'] %>/images/profiles/landing.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
            <div class="register-card-globus">
              <h3 class="title">Sign In</h3>
              <%= link_to "<img id=\"orcid-logo\" src=\"#{ENV["CDN_URL"]}/images/orcid.png\" alt=\"ORCID icon\"/>&nbsp;Sign in with ORCID".html_safe, user_orcid_omniauth_authorize_path(fetch_token: false, redirect_to_commons: false), method: :post, :id => "sign-in-orcid", class: 'btn btn-block btn-social btn-orcid btn-fill' %>
              <p class="secondary-text">We use your ORCID information to customize your experience with DataCite Commons and help you add works to your profile once you’ve signed in.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
