<div class="wrapper">
  <div class="register-background" style="background-image: url('<%= ENV['CDN_URL'] %>/images/profiles/landing.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
            <div class="register-card-globus">
              <h3 class="title">Sign In</h3>
              <%= link_to "<img id=\"globus-logo\" src=\"#{ENV["CDN_URL"]}/images/globus.png\" alt=\"Globus icon\"/> Sign in with Globus".html_safe, user_globus_omniauth_authorize_path, :id => "sign-in-globus", class: 'btn btn-block btn-social btn-globus btn-fill' %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
