---
http_interactions:
- request:
    method: delete
    uri: https://api.sandbox.orcid.org/v2.1/0000-0001-6528-2027/notification-permission/292016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <NOTIFICATION_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <notification:notification put-code="292016" xmlns:notification="http://www.orcid.org/ns/notification" xmlns:common="http://www.orcid.org/ns/common" xmlns:activities="http://www.orcid.org/ns/activities">
            <notification:notification-type>permission</notification:notification-type>
            <notification:authorization-url>
                <notification:uri>https://sandbox.orcid.org/oauth/authorize?client_id=<ORCID_CLIENT_ID>&amp;response_type=code&amp;scope=/read-limited%20/activities/update%20/person/update&amp;redirect_uri=http://localhost:8080/users/auth/orcid/callback</notification:uri>
                <notification:path>/oauth/authorize?client_id=<ORCID_CLIENT_ID>&amp;response_type=code&amp;scope=/read-limited%20/activities/update%20/person/update&amp;redirect_uri=http://localhost:8080/users/auth/orcid/callback</notification:path>
                <notification:host>sandbox.orcid.org</notification:host>
            </notification:authorization-url>
            <notification:notification-subject></notification:notification-subject>
            <notification:notification-intro></notification:notification-intro>
            <notification:items>
                <notification:item>
                    <notification:item-type>work</notification:item-type>
                    <notification:item-name>1000 random PLOS ONE DOIs from 2013</notification:item-name>
                    <notification:external-identifier/>
                </notification:item>
            </notification:items>
            <common:created-date>2018-04-12T05:28:31.975Z</common:created-date>
            <common:archived-date>2018-04-12T05:29:39.540Z</common:archived-date>
            <common:source>
                <common:source-client-id>
                    <common:uri>http://sandbox.orcid.org/client/<ORCID_CLIENT_ID></common:uri>
                    <common:path><ORCID_CLIENT_ID></common:path>
                    <common:host>sandbox.orcid.org</common:host>
                </common:source-client-id>
                <common:source-name>DataCite/ORCID Claim Tool</common:source-name>
            </common:source>
        </notification:notification>
  recorded_at: Thu, 12 Apr 2018 05:29:39 GMT
recorded_with: VCR 3.0.3
