---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.2/0000-0002-0159-2197/orcid-bio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <orcid-message xmlns="http://www.orcid.org/ns/orcid">
            <message-version>1.2</message-version>
            <orcid-profile type="user">
                <orcid-identifier>
                    <uri>http://orcid.org/0000-0002-0159-2197</uri>
                    <path>0000-0002-0159-2197</path>
                    <host>orcid.org</host>
                </orcid-identifier>
                <orcid-preferences>
                    <locale>en</locale>
                </orcid-preferences>
                <orcid-history>
                    <creation-method>website</creation-method>
                    <completion-date>2012-10-16T23:47:11.944Z</completion-date>
                    <submission-date>2012-10-16T22:36:15.660Z</submission-date>
                    <last-modified-date>2016-10-07T18:45:32.993Z</last-modified-date>
                    <claimed>true</claimed>
                    <verified-email>true</verified-email>
                    <verified-primary-email>true</verified-primary-email>
                </orcid-history>
                <orcid-bio>
                    <personal-details>
                        <given-names>Jonathan A.</given-names>
                        <family-name>Eisen</family-name>
                    </personal-details>
                    <researcher-urls visibility="public">
                        <researcher-url>
                            <url-name>microBEnet</url-name>
                            <url>http://microBE.net</url>
                        </researcher-url>
                        <researcher-url>
                            <url-name>Tree of Life Blog</url-name>
                            <url>http://phylogenomics.blogspot.com</url>
                        </researcher-url>
                        <researcher-url>
                            <url-name>Lab Page</url-name>
                            <url>http://phylogenomics.wordpress.com</url>
                        </researcher-url>
                        <researcher-url>
                            <url-name>Twitter</url-name>
                            <url>http://twitter.com/phylogenomics</url>
                        </researcher-url>
                        <researcher-url>
                            <url-name>Disclosures</url-name>
                            <url>https://phylogenomics.wordpress.com/about/disclosures/</url>
                        </researcher-url>
                    </researcher-urls>
                    <keywords visibility="public">
                        <keyword>evolution, genomics, microbiology, ecology, microbial diversity, citizen science, </keyword>
                        <keyword>microbiomes, DNA repair, open science,</keyword>
                    </keywords>
                    <external-identifiers visibility="public">
                        <external-identifier>
                            <external-id-common-name>Scopus Author ID</external-id-common-name>
                            <external-id-reference>35247902700</external-id-reference>
                            <external-id-url>http://www.scopus.com/inward/authorDetails.url?authorID=35247902700&amp;partnerID=MN8TOARS</external-id-url>
                            <source>
                                <source-orcid>
                                    <uri>http://orcid.org/0000-0002-5982-8983</uri>
                                    <path>0000-0002-5982-8983</path>
                                    <host>orcid.org</host>
                                </source-orcid>
                                <source-name>Scopus to ORCID</source-name>
                                <source-date>2013-03-24T18:20:42.464Z</source-date>
                            </source>
                        </external-identifier>
                        <external-identifier>
                            <external-id-common-name>Loop profile</external-id-common-name>
                            <external-id-reference>224690</external-id-reference>
                            <external-id-url>http://loop.frontiersin.org/people/224690/overview?referrer=orcid_profile</external-id-url>
                            <source>
                                <source-client-id>
                                    <uri>http://orcid.org/client/APP-4DPEW6SVSNQHKC8G</uri>
                                    <path>APP-4DPEW6SVSNQHKC8G</path>
                                    <host>orcid.org</host>
                                </source-client-id>
                                <source-name>Loop</source-name>
                                <source-date>2016-01-11T05:05:14.527Z</source-date>
                            </source>
                        </external-identifier>
                    </external-identifiers>
                </orcid-bio>
            </orcid-profile>
        </orcid-message>
  recorded_at: Sat, 26 Nov 2016 06:43:25 GMT
recorded_with: VCR 2.9.3
