---
http_interactions:
- request:
    method: get
    uri: https://api.stage.datacite.org/dois?page%5Bsize%5D=0&user-id=0000-0003-1419-2405
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"12c9ea0a808f6c4f3c91b82199ecd37b"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":24,"totalPages":0,"page":1,"states":[{"id":"findable","title":"Findable","count":24}],"resourceTypes":[{"id":"dataset","title":"Dataset","count":12},{"id":"software","title":"Software","count":6},{"id":"text","title":"Text","count":6}],"created":[{"id":"2020","title":"2020","count":22},{"id":"2019","title":"2019","count":2}],"published":[{"id":"2020","title":"2020","count":6},{"id":"2019","title":"2019","count":2},{"id":"2016","title":"2016","count":3},{"id":"2013","title":"2013","count":1},{"id":"2011","title":"2011","count":12}],"registered":[{"id":"2020","title":"2020","count":22},{"id":"2019","title":"2019","count":2}],"providers":[{"id":"datacite","title":"DataCite","count":16},{"id":"exlibris","title":"EXLIBRIS","count":8}],"clients":[{"id":"datacite.datacite","title":"DataCite
        Repository","count":14},{"id":"exlibris.esploro","title":"ESPLORO","count":8},{"id":"datacite.test","title":"DataCite
        Test Repository","count":2}],"affiliations":[{"id":"ror.org/01ggx4157","title":"European
        Organization for Nuclear Research","count":1},{"id":"ror.org/02aswte26","title":"Manchester
        University","count":1},{"id":"ror.org/02twcfp32","title":"Crossref","count":1},{"id":"ror.org/04wxnsj81","title":"DataCite","count":1}],"prefixes":[{"id":"10.70001","title":"10.70001","count":12},{"id":"10.21367","title":"10.21367","count":8},{"id":"10.5438","title":"10.5438","count":2},{"id":"10.80225","title":"10.80225","count":2}],"certificates":[],"licenses":[{"id":"cc-by-3.0","title":"CC-BY-3.0","count":1},{"id":"mit","title":"MIT","count":1}],"schemaVersions":[{"id":"4","title":"Schema
        4","count":22}],"linkChecksStatus":[{"id":"200","title":"200","count":4}],"subjects":[{"id":"Africa","title":"Africa","count":12},{"id":"Malaria","title":"Malaria","count":12},{"id":"Mitochondrial
        genome","title":"Mitochondrial Genome","count":12},{"id":"Parasites","title":"Parasites","count":12},{"id":"Phylogeny","title":"Phylogeny","count":12},{"id":"Plasmodium","title":"Plasmodium","count":12},{"id":"Taxonomy","title":"Taxonomy","count":12},{"id":"featured","title":"Featured","count":3},{"id":"doi","title":"Doi","count":2},{"id":"FOS:
        Computer and information sciences","title":"Fos: Computer And Information
        Sciences","count":1}],"fieldsOfScience":[{"id":"computer_and_information_sciences","title":"Computer
        and information sciences","count":1}],"citations":[{"id":"2011","title":"2011","count":16}],"views":[{"id":"2011","title":"2011","count":1662}],"downloads":[{"id":"2011","title":"2011","count":846}]},"links":{"self":"https://api.stage.datacite.org/dois?page%5Bsize%5D=0&user-id=0000-0003-1419-2405"}}'
  recorded_at: Fri, 02 Oct 2020 19:24:15 GMT
recorded_with: VCR 3.0.3
