---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,creator,title,publisher,publicationYear,resourceTypeGeneral,description,datacentre,datacentre_symbol,prefix,relatedIdentifier,xml,updated&q=doi:10.5281/ZENODO.21429&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1,"start":0,"docs":[{"datacentre_symbol":"CERN.ZENODO","xml":"PHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTI4MS96ZW5vZG8uMjE0Mjk8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZT5HdWRtdW5kdXIgQS4gVGhvcmlzc29uPC9jcmVhdG9yTmFtZT4KICA[...]
- request:
    method: post
    uri: https://api.orcid.org/v1.2/0000-0003-1419-240x/orcid-works
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<orcid-message xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns=\"http://www.orcid.org/ns/orcid\" xsi:schemaLocation=\"http://www.orcid.org/ns/orcid
        https://raw.github.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/orcid-message-1.2.xsd\">\n
        \ <message-version>1.2</message-version>\n  <orcid-profile>\n    <orcid-activities>\n
        \     <orcid-works>\n        <orcid-work>\n          <work-title>\n            <title>omniauth-orcid:
        v.1.0</title>\n          </work-title>\n          <journal-title>Zenodo</journal-title>\n
        \         <short-description>&amp;lt;p&amp;gt;omniauth-orcid is a Ruby gem
        that enables authentication with the ORCID registry via oauth2.&amp;amp;nbsp;onmiauth-orcid
        1.0 was released on July 25, 2015 with the following changes:&amp;lt;/p&amp;gt;\n\n&amp;lt;ul&amp;gt;\n\t&amp;lt;li&amp;gt;changed
        default scope to authenticate, and use the public API https://pub.orcid.org
        by default. These settings work for non-members.&amp;lt;/li&amp;gt;\n\t&amp;lt;li&amp;gt;added
        name and email to the info hash returned by omniauth (email will be empty
        in almost all cases)&amp;lt;/li&amp;gt;\n\t&amp;lt;li&amp;gt;cleaned up documentation
        in README.md&amp;lt;/li&amp;gt;\n&amp;lt;/ul&amp;gt;</short-description>\n
        \         <work-citation>\n            <work-citation-type>bibtex</work-citation-type>\n
        \           <citation>@data{http://doi.org/10.5281/ZENODO.21429, author =
        {Thorisson, Gudmundur A. and Fenner, Martin}, title = {omniauth-orcid: v.1.0},
        publisher = {Zenodo}, doi = {10.5281/ZENODO.21429}, url = {http://doi.org/10.5281/ZENODO.21429},
        year = {2015}}</citation>\n          </work-citation>\n          <work-type>other</work-type>\n
        \         <publication-date>\n            <year>2015</year>\n          </publication-date>\n
        \         <work-external-identifiers>\n            <work-external-identifier>\n
        \             <work-external-identifier-type>doi</work-external-identifier-type>\n
        \             <work-external-identifier-id>10.5281/ZENODO.21429</work-external-identifier-id>\n
        \           </work-external-identifier>\n          </work-external-identifiers>\n
        \         <work-contributors>\n            <contributor>\n              <credit-name>Gudmundur
        A. Thorisson</credit-name>\n            </contributor>\n            <contributor>\n
        \             <credit-name>Martin Fenner</credit-name>\n            </contributor>\n
        \         </work-contributors>\n        </orcid-work>\n      </orcid-works>\n
        \   </orcid-activities>\n  </orcid-profile>\n</orcid-message>\n"
    headers:
      Authorization:
      - Bearer
      Content-Type:
      - application/orcid+xml
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html><html><head><title>Apache Tomcat/8.0.21 - Error report</title><style
        type=\"text/css\">H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}.line {height: 1px; background-color:
        #525D76; border: none;}</style> </head><body><h1>HTTP Status 500 - Attempt
        to retrieve a OrcidOauth2TokenDetail with a null or empty token value</h1><div
        class=\"line\"></div><p><b>type</b> Exception report</p><p><b>message</b>
        <u>Attempt to retrieve a OrcidOauth2TokenDetail with a null or empty token
        value</u></p><p><b>description</b> <u>The server encountered an internal error
        that prevented it from fulfilling this request.</u></p><p><b>exception</b></p><pre>java.lang.IllegalArgumentException:
        Attempt to retrieve a OrcidOauth2TokenDetail with a null or empty token value\n\torg.springframework.util.Assert.hasText(Assert.java:162)\n\torg.orcid.persistence.dao.impl.OrcidOauth2TokenDetailDaoImpl.findNonDisabledByTokenValue(OrcidOauth2TokenDetailDaoImpl.java:56)\n\tsun.reflect.GeneratedMethodAccessor3081.invoke(Unknown
        Source)\n\tsun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n\tjava.lang.reflect.Met[...]
