<div class="panel panel-default">
  <div class="panel-body">
    <p>This page lists all works associated with your ORCID account found in the <a href="https://cls.labs.datacite.org">DataCite Link Store</a>. We are still collecting data, but in the future this should include all works from the DataCite Metadata Store that include your ORCID identifier plus all works with a DataCite DOI you added to your ORCID record. Use <a href="https://search.labs.datacite.org/?q=<%= current_user.uid %>">this link</a> to search the Metadata Store directly, and use <a href="https://orcid.org/<%= current_user.uid %>">this link</a> to go to your ORCID record.</p>
  </div>
</div>

<div id="content">
  <div class="text-muted loading" id="loading-results">Loading … <%= image_tag "spinner.gif" %></div>
</div>

<%= javascript_include_tag 'works/index' %>
