---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.5438
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.5438",
            "RA": "DataCite"
          }
        ]
  recorded_at: Fri, 02 Oct 2020 06:18:28 GMT
- request:
    method: get
    uri: https://api.datacite.org/dois/10.5438/mk65-3m12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Fri, 02 Oct 2020 06:18:28 GMT
recorded_with: VCR 3.0.3
