---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.5438
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b9f2d79281c542db437c42a5bac25ac8"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '100000'
      X-Ratelimit-Remaining-Hour:
      - '99962'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5438","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:15Z"}}}'
  recorded_at: Mon, 10 Jul 2017 06:40:28 GMT
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,xml,media,minted,updated&q=doi:10.5438/vq2t-vr4k&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTQzOC9WUTJULVZSNEs8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZT5GZW5[...]
- request:
    method: put
    uri: https://api.sandbox.orcid.org/v2.0/0000-0001-6528-2027/work/861230
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <work:work xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://www.orcid.org/ns/common" xmlns:work="http://www.orcid.org/ns/work" put-code="861230" visibility="public" xsi:schemaLocation="http://www.orcid.org/ns/work ../work-2.0.xsd">
          <work:title>
            <common:title>Relaunching DataCite Search</common:title>
          </work:title>
          <work:journal-title>DataCite Blog</work:journal-title>
          <work:short-description>This week we relaunched DataCite Search, providing a more user-friendly search interface for DataCite metadata. We also added functionality that was not available before. The new search uses a single entry box for queries, and filters by resource type...</work:short-description>
          <work:type>other</work:type>
          <common:publication-date>
            <common:year>2016</common:year>
            <common:month>07</common:month>
            <common:day>05</common:day>
          </common:publication-date>
          <common:external-ids>
            <common:external-id>
              <common:external-id-type>doi</common:external-id-type>
              <common:external-id-value>10.5438/VQ2T-VR4K</common:external-id-value>
              <common:external-id-relationship>self</common:external-id-relationship>
            </common:external-id>
          </common:external-ids>
          <work:contributors>
            <work:contributor>
              <common:contributor-orcid>
                <common:uri>http://orcid.org/0000-0003-1419-2405</common:uri>
                <common:path>0000-0003-1419-2405</common:path>
                <common:host>orcid.org</common:host>
              </common:contributor-orcid>
              <work:credit-name>Fenner, Martin</work:credit-name>
            </work:contributor>
          </work:contributors>
        </work:work>
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <work:work put-code="861230" visibility="public" xmlns:internal="http://www.orcid.org/ns/internal" xmlns:funding="http://www.orcid.org/ns/funding" xmlns:preferences="http://www.orcid.org/ns/preferences" xmlns:address="http://www.orcid.org/ns/address" xmlns:education="http://www.orcid.org/ns/education" xmlns:work="http://www.orcid.org/ns/work" xmlns:deprecated="http://www.orcid.org/ns/deprecated" xmlns:other-name="http://www.orcid.org/ns/other-name" xmlns:history="http://www.orcid.org/ns/history" xmlns:employment="http://www.orcid.org/ns/employment" xmlns:error="http://www.orcid.org/ns/error" xmlns:common="http://www.orcid.org/ns/common" xmlns:person="http://www.orcid.org/ns/person" xmlns:activities="http://www.orcid.org/ns/activities" xmlns:record="http://www.orcid.org/ns/record" xmlns:researcher-url="http://www.orcid.org/ns/researcher-url" xmlns:peer-review="http://www.orcid.org/ns/peer-review" xmlns:personal-details="http://www.orcid.org/ns/personal-details" xmlns:bulk="http://www.orcid.org/ns/bulk" xmlns:keyword="http://www.orcid.org/ns/keyword" xmlns:email="http://www.orcid.org/ns/email" xmlns:external-identifier="http://www.orcid.org/ns/external-identifier">
            <common:created-date>2017-07-10T06:39:25.114Z</common:created-date>
            <common:last-modified-date>2017-07-10T06:39:25.114Z</common:last-modified-date>
            <common:source>
                <common:source-client-id>
                    <common:uri>http://sandbox.orcid.org/client/<ORCID_CLIENT_ID></common:uri>
                    <common:path><ORCID_CLIENT_ID></common:path>
                    <common:host>sandbox.orcid.org</common:host>
                </common:source-client-id>
                <common:source-name>DataCite/ORCID Claim Tool</common:source-name>
            </common:source>
            <work:title>
                <common:title>Relaunching DataCite Search</common:title>
            </work:title>
            <work:journal-title>DataCite Blog</work:journal-title>
            <work:short-description>This week we relaunched DataCite Search, providing a more user-friendly search interface for DataCite metadata. We also added functionality that was not available before. The new search uses a sing[...]
