<div class="row">
  <div class="col-md-9 panel-list" id="content-github">
    <div class="panel panel-default">
      <div class="panel-body github">
        <div class="media">
          <div class="media-left media-badge">
            <img src="<%= asset_path('github.png', host: ENV['CDN_HOST']) %>" height="64" width="64">
          </div>
          <div class="media-body">
            GitHub is how people build software.
            <div class="btn-toolbar pull-right">
              <div class="btn-group btn-group-sm github">
                <% if @user.github.present? %>
                  <%= link_to 'go to my profile'.html_safe, "https://github.com/#{@user.github}", class: 'btn btn-default btn-sm' %>
                <% else %>
                  <%= link_to 'authenticate'.html_safe, user_omniauth_authorize_path(:github), class: 'btn btn-default btn-sm' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
