<div class="panel panel-<%= email_text %>" id="content-notification">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <% if @user.google_uid.present? %>
        <dt>Google Profile</dt>
        <dd><%= @user.email %></dd>
      <% end %>
    </dl>
  </div>
  <div class="panel-footer">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-sm pull-right">
        <% if @user.google_uid.present? %>
          <%= link_to 'go to profile'.html_safe, "https://github.com/#{@user.uid}", class: 'btn btn-default btn-sm' %>
        <% else %>
          <%= link_to 'authenticate'.html_safe, user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-default btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
