<div class="panel panel-default">
  <div class="panel-heading panel-title">
    ImpactStory
  </div>
  <div class="panel-body" id="impactstory">
    <div class="text-muted" id="impactstory-loading">Coming soon…</div>
  </div>
</div>

<%= javascript_include_tag 'users/impactstory' %>
