<div class="row">
  <div class="col-md-9 panel-list" id="content-impactstory">
    <div class="panel panel-default">
      <div class="panel-body impactstory">
        <div class="media">
          <div class="media-left media-badge">
            <img src="<%= asset_path('/images/impactstory.png', host: ENV['CDN_HOST']) %>" height="64" width="64">
          </div>
          <div class="media-body">
            Impactstory is an open-source website that helps researchers explore and share the the online impact of their research.
            <div class="btn-toolbar pull-right">
              <div class="btn-group btn-group-sm impactstory">
                <%= link_to 'more information'.html_safe, "https://impactstory.org", class: 'btn btn-default btn-sm', id: "impactstory-link" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'users/impactstory' %>
