<div class="row">
  <div class="col-md-9 panel-list" id="content-orcid">
    <div id="search">
      <%= render :partial => 'users/search' %>
    </div>
    <div id="auto">
      <%= render :partial => 'users/auto' %>
    </div>
  </div>
</div>
