<div class="panel <%= public_text %>">
  <div class="panel-heading panel-title">
    Record Public <%= true_text.html_safe %>
  </div>
  <div class="panel-body">
    Show ORCID record in DataCite Search.
  </div>
  <div class="panel-footer">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-sm pull-right">
        <% if current_user.is_public %>
          <%= link_to 'hide'.html_safe, user_path(current_user, user: { is_public: false }, panel: "public"), :method => :put, :remote => true, :class => 'btn btn-warning btn-sm', :id => "public" %>
        <% else %>
          <%= link_to 'show'.html_safe, user_path(current_user, user: { is_public: true }, panel: "public"), :method => :put, :remote => true, :class => 'btn btn-success btn-sm', :id => "public" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
