<div class="row">
  <div id="account">
    <%= render :partial => 'account' %>
  </div>
  <div id="notification">
    <%= render :partial => 'notification' %>
  </div>
</div>

<div class="row">
  <div id="search">
    <%= render :partial => 'search' %>
  </div>
  <div id="auto">
    <%= render :partial => 'auto' %>
  </div>
</div>
