---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,creator,title,publisher,publicationYear,resourceTypeGeneral,description,datacentre,datacentre_symbol,prefix,relatedIdentifier,xml,updated&q=doi:10.5281/ZENODO.21429&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"datacentre_symbol":"CERN.ZENODO","xml":"PHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTI4MS96ZW5vZG8uMjE0Mjk8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZT5HdWRtdW5kdXIgQS4gVGhvcmlzc29uPC9jcmVhdG9yTmFtZT4KICA[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/orcid-message-1.2.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2ab39a66bd0457ca331906375fd3fa00c1119cec"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - b852e762f7c8253b7da2ea0ff7c0f4579924ad94
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n\txmlns:sch=\"http://purl.oclc.org/dsdl/schematron\"
        elementFormDefault=\"qualified\"\n\ttargetNamespace=\"http://www.orcid.org/ns/orcid\"
        xmlns:orcid=\"http://www.orcid.org/ns/orcid\">\n\t<xs:annotation>\n\t\t<xs:documentation>\n\t\t\t=============================================================================\n\n\t\t\tORCID
        (R) Open Source\n\t\t\thttp://orcid.org\n\n\t\t\tCopyright (c) 2012-2014 ORCID,
        Inc.\n\t\t\tLicensed under an MIT-Style License (MIT)\n\t\t\thttp://orcid.org/open-source-license\n\n\t\t\tThis
        copyright and license information (including a link to the full\n\t\t\tlicense)\n\t\t\tshall
        be included in its entirety in all copies or substantial portion of\n\t\t\tthe
        software.\n\n\t\t\t=============================================================================\n\t\t\tThe
        schema describes the message format used for ORCID API requests\n\t\t\tand
        responses.\n\t\t\tThe top level element is orcid-message.\n\t\t</xs:documentation>\n\t\t<xs:appinfo>\n\t\t\t<sch:title>Schematron
        validation</sch:title>\n\t\t\t<sch:ns prefix=\"orcid\" uri=\"http://www.orcid.org/ns/orcid\"/>\n\t\t</xs:appinfo>\n\t</xs:annotation>\n\t<xs:element
        name=\"orcid-message\">\n\t\t<xs:annotation>\n\t\t\t<xs:documentation>The
        overall container for all ORCID requests and responses.\n\t\t\t</xs:documentation>\n\t\t</xs:annotation>\n\t\t<xs:complexType>\n\t\t\t<xs:sequence>\n\t\t\t\t<xs:element
        ref=\"orcid:message-version\"/>\n\t\t\t\t<xs:choice>\n\t\t\t\t\t<xs:element
        ref=\"orcid:orcid-profile\"/>\n\t\t\t\t\t<xs:element ref=\"orcid:orcid-search-results\"/>\n\t\t\t\t\t<xs:element
        ref=\"orcid:error-desc\"/>\n\t\t\t\t</xs:choice>\n\t\t\t</xs:sequence>\n\t\t</xs:complexType>\n\t</xs:element>\n\t<xs:element
        name=\"message-version\">\n\t\t<xs:annotation>\n\t\t\t<xs:documentation>The
        version of ORCID message schema that the orcid-message uses. Please refer
        to the ORCID XSD Information Readme documentation for more details. https://github.com/ORCID/ORCID-Source/blob/master/orcid-model/src/main/resources/README.md\n\t\t\t</xs:documentation>\n\t\t</xs:annotation>\n\t\t<xs:simpleType>\n\t\t\t<xs:restriction
        base=\"xs:string\">\n\t\t\t\t<xs:enumeration value=\"1.2_rc6\"/>\n\t\t\t\t<xs:enumeration
        value=\"1.2_rc7\"/>\n\t\t\t\t<xs:enumeration value=\"1.2\"/>\n\t\t\t</xs:restriction>\n\t\t</xs:simpleType>\n\t</xs:element>\n\t<xs:element
        name=\"error-desc\">\n\t\t<xs:annotation>\n\t\t\t<xs:documentation>A human
        readable error message included when the request was unsuccessful.\n\t\t\t</xs:documentation>\n\t\t</xs:annotation>\n\t\t<xs:complexType
        mixed=\"true\"/>\n\t</xs:element>\n\t<xs:element name=\"orcid-profile\"[...]
- request:
    method: post
    uri: https://api.orcid.org/v1.2/0000-0003-1419-2405/orcid-works
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <orcid-message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.orcid.org/ns/orcid" xsi:schemaLocation="http://www.orcid.org/ns/orcid https://raw.github.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/orcid-message-1.2.xsd">
          <message-version>1.2</message-version>
          <orcid-profile>
            <orcid-activities>
              <orcid-works>
                <orcid-work>
                  <work-title>
                    <title>omniauth-orcid: v.1.0</title>
                  </work-title>
                  <journal-title>Zenodo</journal-title>
                  <short-description>["&lt;p&gt;omniauth-orcid is a Ruby gem that enables authentication with the ORCID registry via oauth2.&amp;nbsp;onmiauth-orcid 1.0 was released on July 25, 2015 with the following changes:&lt;/p&gt;\n\n&lt;ul&gt;\n\t&lt;li&gt;changed default scope to authenticate, and use the public API https://pub.orcid.org by default. These settings work for non-members.&lt;/li&gt;\n\t&lt;li&gt;added name and email to the info hash returned by omniauth (email will be empty in almost all cases)&lt;/li&gt;\n\t&lt;li&gt;cleaned up documentation in README.md&lt;/li&gt;\n&lt;/ul&gt;"]</short-description>
                  <work-citation>
                    <work-citation-type>bibtex</work-citation-type>
                    <citation>@data{http://doi.org/10.5281/ZENODO.21429, author = {Thorisson, Gudmundur A. and Fenner, Martin}, title = {omniauth-orcid: v.1.0}, publisher = {Zenodo}, doi = {10.5281/ZENODO.21429}, url = {http://doi.org/10.5281/ZENODO.21429}, year = {2015}}</citation>
                  </work-citation>
                  <work-type>other</work-type>
                  <publication-date>
                    <year>2015</year>
                  </publication-date>
                  <work-external-identifiers>
                    <work-external-identifier>
                      <work-external-identifier-type>doi</work-external-identifier-type>
                      <work-external-identifier-id>10.5281/ZENODO.21429</work-external-identifier-id>
                    </work-external-identifier>
                  </work-external-identifiers>
                  <work-contributors>
                    <contributor>
                      <credit-name>Gudmundur A. Thorisson</credit-name>
                    </contributor>
                    <contributor>
                      <credit-name>Martin Fenner</credit-name>
                    </contributor>
                  </work-contributors>
                </orcid-work>
              </orcid-works>
            </orcid-activities>
          </orcid-profile>
        </orcid-message>
    headers:
      Authorization:
      - Bearer <ORCID_AUTHENTICATION_TOKEN>
      Content-Type:
      - application/orcid+xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/orcid+xml; qs=3;charset=UTF-8
      Location:
      - http://api.orcid.org/0000-0003-1419-2405/orcid-works
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 13 Mar 2016 09:19:11 GMT
recorded_with: VCR 2.9.3
