---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.2/0000-0002-1825-0097/orcid-works
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <orcid-message xmlns="http://www.orcid.org/ns/orcid">
            <message-version>1.2</message-version>
            <orcid-profile type="user">
                <orcid-identifier>
                    <uri>http://orcid.org/0000-0002-1825-0097</uri>
                    <path>0000-0002-1825-0097</path>
                    <host>orcid.org</host>
                </orcid-identifier>
                <orcid-preferences>
                    <locale>en</locale>
                </orcid-preferences>
                <orcid-history>
                    <creation-method>website</creation-method>
                    <completion-date>2012-11-12T13:31:17.585Z</completion-date>
                    <submission-date>2012-11-12T12:31:16.658Z</submission-date>
                    <last-modified-date>2016-08-01T20:40:24.592Z</last-modified-date>
                    <claimed>true</claimed>
                    <verified-email>true</verified-email>
                    <verified-primary-email>true</verified-primary-email>
                </orcid-history>
                <orcid-activities>
                    <orcid-works>
                        <orcid-work put-code="9543020" visibility="public">
                            <work-title>
                                <title>A Methodology for the Emulation of Architecture</title>
                                <subtitle>Journal of Psychoceramics</subtitle>
                            </work-title>
                            <work-citation>
                                <work-citation-type>bibtex</work-citation-type>
                                <citation>@article{Carberry_2012, title={A Methodology for the Emulation of Architecture}, volume={5}, url={http://dx.doi.org/10.5555/12345680}, DOI={10.5555/12345680}, number={11}, journal={Journal of Psychoceramics}, publisher={CrossRef test user}, author={Carberry, Josiah}, year={2012}, month={Feb}, pages={1-3}}</citation>
                            </work-citation>
                            <work-type>journal-article</work-type>
                            <publication-date>
                                <year>2012</year>
                            </publication-date>
                            <work-external-identifiers>
                                <work-external-identifier>
                                    <work-external-identifier-type>issn</work-external-identifier-type>
                                    <work-external-identifier-id>0264-3561</work-external-identifier-id>
                                </work-external-identifier>
                                <work-external-identifier>
                                    <work-external-identifier-type>doi</work-external-identifier-type>
                                    <work-external-identifier-id>10.5555/12345680</work-external-identifier-id>
                                </work-external-identifier>
                            </work-external-identifiers>
                            <source>
                                <source-orcid>
                                    <uri>http://orcid.org/0000-0002-3054-1567</uri>
                                    <path>0000-0002-3054-1567</path>
                                    <host>orcid.org</host>
                                </source-orcid>
                                <source-name>CrossRef Metadata Search</source-name>
                                <source-date>2013-08-03T10:41:32.206Z</source-date>
                            </source>
                            <created-date>2013-08-03T10:41:32.206Z</created-date>
                            <last-modified-date>2015-11-04T18:52:27.002Z</last-modified-date>
                        </orcid-work>
                        <orcid-work put-code="18777963" visibility="public">
                            <work-title>
                                <title>A Methodology for the Emulation of Architecture</title>
                                <subtitle>Journal of Psychoceramics</subtitle>
                            </work-t[...]
