---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.2/0000-0002-1825-0097/orcid-works
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":{"orcid":null,"orcid-id":null,"orcid-identifier":{"value":null,"uri":"http://orcid.org/0000-0002-1825-0097","path":"0000-0002-1825-0097","host":"orcid.org"},"orcid-deprecated":null,"orcid-preferences":{"locale":"EN"},"orcid-history":{"creation-method":"WEBSITE","completion-date":{"value":1352727077585},"submission-date":{"value":1352723476658},"last-modified-date":{"value":1462475693885},"claimed":{"value":true},"source":null,"deactivation-date":null,"verified-email":{"value":true},"verified-primary-email":{"value":true},"visibility":null},"orcid-bio":null,"orcid-activities":{"affiliations":null,"orcid-works":{"orcid-work":[{"put-code":"9543020","work-title":{"title":{"value":"A
        Methodology for the Emulation of Architecture"},"subtitle":{"value":"Journal
        of Psychoceramics"},"translated-title":null},"journal-title":null,"short-description":null,"work-citation":{"work-citation-type":"BIBTEX","citation":"@article{Carberry_2012,
        title={A Methodology for the Emulation of Architecture}, volume={5}, url={http://dx.doi.org/10.5555/12345680},
        DOI={10.5555/12345680}, number={11}, journal={Journal of Psychoceramics},
        publisher={CrossRef test user}, author={Carberry, Josiah}, year={2012}, month={Feb},
        pages={1-3}}"},"work-type":"JOURNAL_ARTICLE","publication-date":{"year":{"value":"2012"},"month":null,"day":null,"media-type":null},"work-external-identifiers":{"work-external-identifier":[{"work-external-identifier-type":"ISSN","work-external-identifier-id":{"value":"0264-3561"}},{"work-external-identifier-type":"DOI","work-external-identifier-id":{"value":"10.5555/12345680"}}],"scope":null},"url":null,"work-contributors":null,"work-source":null,"source":{"source-orcid":{"value":null,"uri":"http://orcid.org/0000-0002-3054-1567","path":"0000-0002-3054-1567","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"CrossRef
        Metadata Search"},"source-date":{"value":1375526492206}},"created-date":{"value":1375526492206},"last-modified-date":{"value":1446663147002},"language-code":null,"country":null,"visibility":"PUBLIC"},{"put-code":"18777963","work-title":{"title":{"value":"A
        Methodology for the Emulation of Architecture"},"subtitle":{"value":"Journal
        of Psychoceramics"},"translated-title":null},"journal-title":null,"short-description":null,"work-citation":{"work-citation-type":"BIBTEX","citation":"@article{Carberry_2012,
        title={A Methodology for the Emulation of Architecture}, volume={5}, url={http://dx.doi.org/10.5555/12345680},
        DOI={10.5555/12345680[...]
