---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.2/0000-0003-1419-2405/orcid-works
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"message-version\":\"1.2\",\"orcid-profile\":{\"orcid\":null,\"orcid-id\":null,\"orcid-identifier\":{\"value\":null,\"uri\":\"http://orcid.org/0000-0003-1419-2405\",\"path\":\"0000-0003-1419-2405\",\"host\":\"orcid.org\"},\"orcid-deprecated\":null,\"orcid-preferences\":{\"locale\":\"EN\"},\"orcid-history\":{\"creation-method\":\"WEBSITE\",\"completion-date\":{\"value\":1349732964340},\"submission-date\":{\"value\":1349729360270},\"last-modified-date\":{\"value\":1454139333455},\"claimed\":{\"value\":true},\"source\":null,\"deactivation-date\":null,\"verified-email\":{\"value\":true},\"verified-primary-email\":{\"value\":true},\"visibility\":null},\"orcid-bio\":null,\"orcid-activities\":{\"affiliations\":null,\"orcid-works\":{\"orcid-work\":[{\"put-code\":\"11649252\",\"work-title\":{\"title\":{\"value\":\"What
        Can Article-Level Metrics Do for You?\"},\"subtitle\":{\"value\":\"PLoS Biology\"},\"translated-title\":null},\"journal-title\":null,\"short-description\":null,\"work-citation\":{\"work-citation-type\":\"BIBTEX\",\"citation\":\"@article{Fenner_2013,
        title={What Can Article-Level Metrics Do for You?}, volume={11}, url={http://dx.doi.org/10.1371/journal.pbio.1001687},
        DOI={10.1371/journal.pbio.1001687}, number={10}, journal={PLoS Biology}, publisher={Public
        Library of Science}, author={Fenner, Martin}, year={2013}, month={Oct}, pages={e1001687}}\"},\"work-type\":\"JOURNAL_ARTICLE\",\"publication-date\":{\"year\":{\"value\":\"2013\"},\"month\":null,\"day\":null,\"media-type\":null},\"work-external-identifiers\":{\"work-external-identifier\":[{\"work-external-identifier-type\":\"DOI\",\"work-external-identifier-id\":{\"value\":\"10.1371/journal.pbio.1001687\"}},{\"work-external-identifier-type\":\"ISSN\",\"work-external-identifier-id\":{\"value\":\"1545-7885\"}}],\"scope\":null},\"url\":null,\"work-contributors\":null,\"work-source\":null,\"source\":{\"source-orcid\":{\"value\":null,\"uri\":\"http://orcid.org/0000-0002-3054-1567\",\"path\":\"0000-0002-3054-1567\",\"host\":\"orcid.org\"},\"source-client-id\":null,\"source-name\":{\"value\":\"CrossRef
        Metadata Search\"},\"source-date\":{\"value\":1390657436308}},\"created-date\":{\"value\":1390657436308},\"last-modified-date\":{\"value\":1437425776076},\"language-code\":null,\"country\":null,\"visibility\":\"PUBLIC\"},{\"put-code\":\"17970421\",\"work-title\":{\"title\":{\"value\":\"Schreiben\"},\"subtitle\":null,\"translated-title\":null},\"journal-title\":null,\"short-description\":\"\",\"work-citation\":{\"work-citation-type\":\"BIBTEX\",\"citation\":\"@data{ae5e16a4-e7a8-4434-9c1f-e0560d0c90d1,
        \ doi = {10.2314/COSCV2.4},  url = {http://dx.doi.org/10.2314/COSCV2.4},  author
        = {Friesike, Sascha; Fenner, Martin; },  publisher = {Technische Informationsbibliothek
        (TIB), Hannover},  title = {Schreiben},  year = {2015}}\"},\"work-type\":\"OTHER\",\"publication-date\":{\"year\":{\"value\":\"2015\"},\"month\":null,\"day\":null,\"media-type\":null},\"work-external-identifiers\":{\"work-external-identifier\":[{\"work-external-identifier-type\":\"DOI\",\"work-external-identifier-id\":{\"value\":\"10.2314/COSCV2.4\"}}],\"scope\":null},\"url\":null,\"work-contributors\":{\"contributor\":[{\"contributor-orcid\":null,\"credit-name\":{\"value\":\"Friesike,
        Sascha\",\"visibility\":\"PUBLIC\"},\"contributor-email\":null,\"contributor-attributes\":null},{\"contributor-orcid\":null,\"credit-name\":{\"value\":\"Fenner,
        Martin\",\"visibility\":\"PUBLIC\"},\"contributor-email\":null,\"contributor-attributes\":null}]},\"work-source\":null,\"source\":{\"source-orcid\":{\"value\":null,\"uri\":\"http://orcid.org/0000-0001-8099-6984\",\"path\":\"0000-0001-8099-6984\",\"host\":\"orcid.org\"},\"source-client-id\":null,\"source-name\":{\"value\":\"DataCite\"},\"source-date\":{\"value\":1439812114541}},\"created-date\":{\"value\":1439812114541[...]
