---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.2/0000-0003-1419-2405/orcid-works
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<orcid-message
        xmlns=\"http://www.orcid.org/ns/orcid\">\n    <message-version>1.2</message-version>\n
        \   <orcid-profile type=\"user\">\n        <orcid-identifier>\n            <uri>http://orcid.org/0000-0003-1419-2405</uri>\n
        \           <path>0000-0003-1419-2405</path>\n            <host>orcid.org</host>\n
        \       </orcid-identifier>\n        <orcid-preferences>\n            <locale>en</locale>\n
        \       </orcid-preferences>\n        <orcid-history>\n            <creation-method>website</creation-method>\n
        \           <completion-date>2012-10-08T21:49:24.340Z</completion-date>\n
        \           <submission-date>2012-10-08T20:49:20.270Z</submission-date>\n
        \           <last-modified-date>2016-09-04T13:18:07.240Z</last-modified-date>\n
        \           <claimed>true</claimed>\n            <verified-email>true</verified-email>\n
        \           <verified-primary-email>true</verified-primary-email>\n        </orcid-history>\n
        \       <orcid-activities>\n            <orcid-works>\n                <orcid-work
        put-code=\"11649252\" visibility=\"public\">\n                    <work-title>\n
        \                       <title>What Can Article-Level Metrics Do for You?</title>\n
        \                       <subtitle>PLoS Biology</subtitle>\n                    </work-title>\n
        \                   <work-citation>\n                        <work-citation-type>bibtex</work-citation-type>\n
        \                       <citation>@article{Fenner_2013, title={What Can Article-Level
        Metrics Do for You?}, volume={11}, url={http://dx.doi.org/10.1371/journal.pbio.1001687},
        DOI={10.1371/journal.pbio.1001687}, number={10}, journal={PLoS Biology}, publisher={Public
        Library of Science}, author={Fenner, Martin}, year={2013}, month={Oct}, pages={e1001687}}</citation>\n
        \                   </work-citation>\n                    <work-type>journal-article</work-type>\n
        \                   <publication-date>\n                        <year>2013</year>\n
        \                   </publication-date>\n                    <work-external-identifiers>\n
        \                       <work-external-identifier>\n                            <work-external-identifier-type>doi</work-external-identifier-type>\n
        \                           <work-external-identifier-id>10.1371/journal.pbio.1001687</work-external-identifier-id>\n
        \                       </work-external-identifier>\n                        <work-external-identifier>\n
        \                           <work-external-identifier-type>issn</work-external-identifier-type>\n
        \                           <work-external-identifier-id>1545-7885</work-external-identifier-id>\n
        \                       </work-external-identifier>\n                    </work-external-identifiers>\n
        \                   <source>\n                        <source-orcid>\n                            <uri>http://orcid.org/0000-0002-3054-1567</uri>\n
        \                           <path>0000-0002-3054-1567</path>\n                            <host>orcid.org</host>\n
        \                       </source-orcid>\n                        <source-name>CrossRef
        Metadata Search</source-name>\n                        <source-date>2014-01-25T13:43:56.308Z</source-date>\n
        \                   </source>\n                    <created-date>2014-01-25T13:43:56.308Z</created-date>\n
        \                   <last-modified-date>2015-07-20T20:56:16.076Z</last-modified-date>\n
        \               </orcid-work>\n                <orcid-work put-code=\"23553121\"
        visibility=\"public\">\n                    <work-title>\n                        <title>Lagotto
        5.0.1</title>\n                    </work-title>\n                    <journal-title>Zenodo</journal-title>\n
        \                   <short-description>&amp;lt;p&amp;gt;Lagotto 5.0.1 (April
        12, 2016)&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;Lagotto 5.0.1 was released
        on April 12, 2016. This release includes breaking changes, users of Lagotto
        4.x should wait for Lagotto 5.2, which will provide an upgrade path for 4.x
        users.&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;The following changes were made:&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;Agents/Sources&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;In
        Lagotto 5.0 the functio[...]
