---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v2.0/search/?q=0000-0002-8568-5429&rows=25&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ORCID_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":[{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-8568-5429","path":"0000-0002-8568-5429","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-8568-6157","path":"0000-0002-8568-6157","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-8568-2703","path":"0000-0002-8568-2703","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-8568-9964","path":"0000-0002-8568-9964","host":"sandbox.orcid.org"}},{"orcid-identifier":{"uri":"http://sandbox.orcid.org/0000-0002-5934-8568","path":"[...]
