---
http_interactions:
- request:
    method: delete
    uri: https://api.sandbox.orcid.org/v3.0/0000-0001-6528-2027/work/1069296
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <ORCID_TOKEN>
  response:
    status:
      code: 403
      message: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <error xmlns="http://www.orcid.org/ns/error">
            <response-code>403</response-code>
            <developer-message>409 Conflict: The item has a limited or private visibility and your request doesn't have the required scope.</developer-message>
            <user-message>You don't have the permissions to execute this action.</user-message>
            <error-code>9038</error-code>
            <more-info>https://members.orcid.org/api/resources/troubleshooting</more-info>
        </error>
  recorded_at: Mon, 07 Jun 2021 08:14:00 GMT
recorded_with: VCR 3.0.3
