---
http_interactions:
- request:
    method: post
    uri: https://<ORCID_CLIENT_ID>:<ORCID_CLIENT_SECRET>@api.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=%2Fread-public
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"655b2a4e-2251-40e0-bc18-3de3d42b8757","token_type":"bearer","refresh_token":"cd62c9bf-0ba5-412c-bbdc-15dbc7d67896","expires_in":631138518,"scope":"/read-public","orcid":null}'
  recorded_at: Sun, 04 Sep 2016 13:34:48 GMT
- request:
    method: get
    uri: https://api.orcid.org/v1.2/0000-0003-1419-2405/orcid-bio/external-identifiers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 655b2a4e-2251-40e0-bc18-3de3d42b8757
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":{"orcid":null,"orcid-id":null,"orcid-identifier":{"value":null,"uri":"http://orcid.org/0000-0003-1419-2405","path":"0000-0003-1419-2405","host":"orcid.org"},"orcid-deprecated":null,"orcid-preferences":{"locale":"EN"},"orcid-history":{"creation-method":"WEBSITE","completion-date":{"value":1349732964340},"submission-date":{"value":1349729360270},"last-modified-date":{"value":1472995087240},"claimed":{"value":true},"source":null,"deactivation-date":null,"verified-email":{"value":true},"verified-primary-email":{"value":true},"visibility":null},"orcid-bio":{"personal-details":{"given-names":{"value":"","visibility":null},"family-name":null,"credit-name":null,"other-names":null},"biography":null,"researcher-urls":{"researcher-url":[{"url-name":{"value":"Blog"},"url":{"value":"http://blog.martinfenner.org"}},{"url-name":{"value":"Twitter"},"url":{"value":"http://twitter.com/mfenner"}},{"url-name":{"value":"My
        SciENCV"},"url":{"value":"http://www.ncbi.nlm.nih.gov/myncbi/mfenner/cv/1413/"}},{"url-name":{"value":"Github"},"url":{"value":"https://github.com/mfenner"}}],"visibility":"PUBLIC"},"contact-details":null,"keywords":null,"external-identifiers":{"external-identifier":[{"orcid":null,"external-id-orcid":null,"external-id-common-name":{"value":"Scopus
        Author ID"},"external-id-reference":{"value":"7006600825"},"external-id-url":{"value":"http://www.scopus.com/inward/authorDetails.url?authorID=7006600825&partnerID=MN8TOARS"},"external-id-source":null,"source":{"source-orcid":{"value":null,"uri":"http://orcid.org/0000-0002-5982-8983","path":"0000-0002-5982-8983","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Scopus
        to ORCID"},"source-date":{"value":1378921887304}}},{"orcid":null,"external-id-orcid":null,"external-id-common-name":{"value":"ISNI"},"external-id-reference":{"value":"000000035060549X"},"external-id-url":{"value":"http://isni.org/000000035060549X"},"external-id-source":null,"source":{"source-orcid":{"value":null,"uri":"http://orcid.org/0000-0003-0412-1857","path":"0000-0003-0412-1857","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"ISNI2ORCID
        search and link"},"source-date":{"value":1387382277259}}}],"visibility":"PUBLIC"},"delegation":null,"scope":null},"orcid-activities":null,"orcid-internal":null,"type":"USER","group-type":null,"client-type":null},"orcid-search-results":null,"error-desc":null}'
  recorded_at: Sun, 04 Sep 2016 13:34:49 GMT
recorded_with: VCR 2.9.3
