.orcid-logo { padding-right: .5em; }
.media-body, .media-left {
  padding-left: 2em;
}
.media-badge {
  padding-left: .5em;
}
.badge-engagement {
  color: #2196F3;
}
.badge-openness {
  color: #FB9D00;
}
.badge-buzz {
  color: #4CAF50;
}
.badge-fun {
  color: #9C27B0;
}
.media-body .impactstory {
  margin-top: .5em;
}
.panel-body.impactstory {
  border: 1px solid #ff2500;
}
.panel-body.github {
  border: 1px solid black;
}
.btn-group.github {
  margin-top: 1.5em;
}
