---
http_interactions:
- request:
    method: delete
    uri: https://api.sandbox.orcid.org/v2.0_rc3/0000-0001-6528-2027/external-identifiers/3322
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <error xmlns="http://www.orcid.org/ns/error">
            <response-code>404</response-code>
            <developer-message>javax.persistence.NoResultException: No entity found for query</developer-message>
            <user-message>The resource was not found.</user-message>
            <error-code>9016</error-code>
            <more-info>http://members.orcid.org/api/api-error-codes</more-info>
        </error>
  recorded_at: Wed, 01 Feb 2017 21:27:59 GMT
recorded_with: VCR 2.9.3
