---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.5438
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.5438",
            "RA": "DataCite"
          }
        ]
  recorded_at: Wed, 09 Oct 2019 07:58:49 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5438/mk65-3m12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"c2256cee884c8bf6df6ef5593f30baa2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5438/mk65-3m12","type":"dois","attributes":{"doi":"10.5438/mk65-3m12","prefix":"10.5438","suffix":"mk65-3m12","identifiers":[{"identifier":"https://doi.org/10.5438/mk65-3m12","identifierType":"DOI"}],"creators":[{"name":"Fenner,
        Martin","nameType":"Personal","givenName":"Martin","familyName":"Fenner","affiliation":["DataCite"],"nameIdentifiers":[{"schemeUri":"https://orcid.org","nameIdentifier":"https://orcid.org/0000-0003-1419-2405","nameIdentifierScheme":"ORCID"}]}],"titles":[{"title":"Eating
        your own Dog Food"}],"publisher":"DataCite","container":{},"publicationYear":2016,"subjects":[{"subject":"datacite"},{"subject":"doi"},{"subject":"metadata"},{"subject":"featured"}],"contributors":[],"dates":[{"date":"2016-12-20","dateType":"Issued"},{"date":"2016-12-20","dateType":"Created"},{"date":"2016-12-20","dateType":"Updated"}],"language":null,"types":{"ris":"GEN","bibtex":"article","citeproc":"post-weblog","schemaOrg":"BlogPosting","resourceTypeGeneral":"Text"},"relatedIdentifiers":[{"relationType":"IsPartOf","relatedIdentifier":"10.5438/0000-00ss","resourceTypeGeneral":"Text","relatedIdentifierType":"DOI"},{"relationType":"References","relatedIdentifier":"10.5438/0012","relatedIdentifierType":"DOI"},{"relationType":"References","relatedIdentifier":"10.5438/55e5-t5c0","relatedIdentifierType":"DOI"}],"sizes":null,"formats":null,"version":"1.0","rightsList":[{"rights":null,"rightsUri":null}],"descriptions":[{"lang":null,"description":"Eating
        your own dog food is a slang term to describe that an organization should
        itself use the products and services it provides. For DataCite this means
        that we should use DOIs with appropriate metadata and strategies for long-term
        preservation for...","descriptionType":"Abstract"}],"geoLocations":null,"fundingReferences":null,"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTQzOC9NSzY1LTNNMTI8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZSBuYW1[...]
- request:
    method: post
    uri: https://api.sandbox.orcid.org/v2.1/0000-0001-6528-2027/work
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <work:work xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://www.orcid.org/ns/common" xmlns:work="http://www.orcid.org/ns/work" visibility="public" xsi:schemaLocation="http://www.orcid.org/ns/work ../work-2.1.xsd">
          <work:title>
            <common:title>Eating your own Dog Food</common:title>
          </work:title>
          <work:journal-title>DataCite</work:journal-title>
          <work:short-description>Eating your own dog food is a slang term to describe that an organization should itself use the products and services it provides. For DataCite this means that we should use DOIs with appropriate metadata and strategies for long-term preservation for...</work:short-description>
          <work:type>other</work:type>
          <common:publication-date>
            <common:year>2016</common:year>
            <common:month>12</common:month>
            <common:day>20</common:day>
          </common:publication-date>
          <common:external-ids>
            <common:external-id>
              <common:external-id-type>doi</common:external-id-type>
              <common:external-id-value>10.5438/mk65-3m12</common:external-id-value>
              <common:external-id-relationship>self</common:external-id-relationship>
            </common:external-id>
          </common:external-ids>
          <work:contributors>
            <work:contributor>
              <common:contributor-orcid>
                <common:uri>https://orcid.org/0000-0003-1419-2405</common:uri>
                <common:path>0000-0003-1419-2405</common:path>
                <common:host>orcid.org</common:host>
              </common:contributor-orcid>
              <work:credit-name>Martin Fenner</work:credit-name>
            </work:contributor>
          </work:contributors>
        </work:work>
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
      Location:
      - http://api.sandbox.orcid.org/orcid-api-web/v2.1/0000-0001-6528-2027/work/1069296
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 09 Oct 2019 07:58:50 GMT
recorded_with: VCR 3.0.3
